<form>
    <div class="form-group">
      <label>#id</label>
      <input type="number" class="form-control">
    </div>
    <div class="form-group">
      <label>Nom</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group">
      <label>Reference</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group">
      <label>Adresse</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group">
      <label>Nombrede les employess</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group">
      <label>Capital</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group">
      <div class="col-auto my-1" >
        <label class="mr-sm-2">Type de societe</label>
        <select class="custom-select "  >
          <option  selected>Choose...</option>
          <option *ngFor="let c of $typeSocs">{{c.libelle}}</option>
        </select>
      </div>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Save</button>

</form>
