<h3>Creation d une Employee</h3>
<h6>Creation d un Employee</h6>
<form>
  <div class="form-row">
    <div class="col-md-6 form-group">
      <label>ID</label>
      <input type="number" class="form-control" placeholder="ID" [(ngModel)]="employe.id" [ngModelOptions]="{standalone: true}">
    </div><br>
    <div class="col-md-6 form-group">
      <label>CIN</label>
      <input type="text" class="form-control" placeholder="CIN" [(ngModel)]="employe.cin" [ngModelOptions]="{standalone: true}">
    </div><br><br><br>
    <div class="col-md-6 form-group">
      <label>Nom </label>
      <input type="text" class="form-control" placeholder="Last name" [(ngModel)]="employe.nom" [ngModelOptions]="{standalone: true}">
    </div><br>
    <div class="col-md-6 form-group">
      <label>Prenom</label>
      <input type="text" class="form-control" placeholder="First name" [(ngModel)]="employe.prenom" [ngModelOptions]="{standalone: true}">
    </div><br>
    <div class="col-md-6 form-group">
      <label>Adresse d Habit </label>
      <input type="text" class="form-control" placeholder="Location" [(ngModel)]="employe.adresseHabit" [ngModelOptions]="{standalone: true}">
    </div><br>
    <div class="col-md-6 form-group">
      <label>Adresse Mail</label>
      <input type="text" class="form-control" placeholder="Gmail" [(ngModel)]="employe.adresseMail" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="col-md-6 form-group">
      <label>Salaire</label>
      <input type="number" class="form-control" placeholder="Salaire" [(ngModel)]="employe.salaire" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="col-md-6 form-group">
      <label>Prime</label>
      <input type="number" class="form-control" placeholder="prime" [(ngModel)]="employe.prime" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="col-md-6 form-group">
      <label>Sexe</label>
      <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Sexe</label>
      <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" [(ngModel)]="employe.sexe" [ngModelOptions]="{standalone: true}">
        <option selected>Sexe...</option>
        <option value="Male">M</option>
        <option value="Female">F</option>
      </select>
    </div>
    <div class="form-group col-md-6">
      <label>Societe</label>
      <label  class="mr-sm-2 sr-only" for="inputState">Societe</label>
      <select class="custom-select mr-sm-2"  [(ngModel)]="employe.societeRef" [ngModelOptions]="{standalone: true}" >
        <option *ngFor="let s of socs" [value]="s.ref">{{s.nom}}</option>
      </select>
    </div>
    <div class="form-group col-md-6">
      <label for="inputState">SocieteRef</label>
      <input type="text" class="form-control" placeholder="SocieteRef" [(ngModel)]="employe.societeRef" [ngModelOptions]="{standalone: true}">
    </div>

    <br> <br> <br>

  </div>
</form> <button type="button" class="btn btn-primary btn-block" (click)="save()">Enregistrer</button>
<br><br>
<hr>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <button type="button" class="btn btn-secondary btn-block" onclick="displaying1()">Afficher la liste</button>
    </div>

    <div class="col-md-6">
            <button type="button" class="btn btn-secondary btn-block " onclick="displaying()">Chercher dans la liste</button>

    </div>

  </div>
</div><br><br>
<div id="find">
<div class="form-row">
<div class="form-group col-md-5 ">
  <input type="text" class="form-control" placeholder="CIN" [(ngModel)]="employe.cin" [ngModelOptions]="{standalone: true}"><br>
  <button type="button" class="btn btn-primary btn-block" (click)="findByCin(employe)">Find By CIN</button>
</div>
<div class="form-group col-md-2 "></div>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <!-- <th scope="col">#</th> -->
      <th scope="col">CIN</th>
      <th scope="col">First-Name</th>
      <th scope="col">Last-Name</th>
      <th scope="col">Salaire</th>
      <th scope="col">Gmail</th>
      <th scope="col">Adresse</th>
      <th scope="col">Prime</th>
      <th scope="col">Sexe</th>
      <th scope="col">SocieteRef</th>


    </tr>
  </thead>
  <tbody>
    <tr >
     
      <td>{{employe.cin}}</td>
      <td>{{employe.prenom}}</td>
      <td>{{employe.nom}}</td>
      <td>{{employe.salaire}}</td>
      <td>{{employe.adresseMail}}</td>
      <td>{{employe.adresseHabit}}</td>
      <td>{{employe.prime}}</td>
      <td>{{employe.sexe}}</td>
      <td>{{employe.societeRef}}</td>

    </tr>
  </tbody>
</table></div><br>
<div id="tableEmployees">
<h3 style="text-align: center;">Liste des employees</h3><br>
<table class="table table-hover">
  <thead>
    <tr>
     
      <th scope="col">CIN</th>
      <th scope="col">First-Name</th>
      <th scope="col">Last-Name</th>
      <th scope="col">Salaire</th>
      <th scope="col">Gmail</th>
      <th scope="col">Adresse</th>
      <th scope="col">Prime</th>
      <th scope="col">Sexe</th>
      <th scope="col">SocieteRef</th>
      <th scope="col"></th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of employes">
    
      <td>{{c.cin}}</td>
      <td>{{c.prenom}}</td>
      <td>{{c.nom}}</td>
      <td>{{c.salaire}}</td>
      <td>{{c.adresseMail}}</td>
      <td>{{c.adresseHabit}}</td>
      <td>{{c.prime}}</td>
      <td>{{c.sexe}}</td>
      <td>{{c.societeRef}}</td>
    <td><button type="button" class="btn btn-danger btn-block" (click)="deleteByCin(c)">-</button>
      </td>
    </tr>
  </tbody>
</table><br></div>


<br><br>
