<h3 style="text-align: center;">How to use this Application ?</h3>

<div class="container" style="padding-bottom: 140px;margin-top: 40px;">
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
      <h4>Interface d Acceuil</h4>
      <p>Cette interface contient trois elements : </p>
       <h6> - Liste de societe:</h6><br><p> cet element contient la partie creation d une nouvelle societe si n existe pas deja dans
        la base de donnes ou modifier une societe si elle existe .<br>
        - How To Use this App : Ci celui -ci.<br>
        - Start the Application : Cet element vous permet de commencer a utiliser l application :</p> 
        <br>
           <h6> - 1er Etape: Choisir un choix :</h6> <br>
          <p>. Si la societe existe dans la base de donnees.<br>
               . Si la societe n existe pas dans la base de donnees.</p><br>
          <h6> - 2eme Etape :</h6>  <br>
        <p>  . Si la societe existe -> On va choisir la societe dans un "select " qui affiche tous les societes.<br>
               . On va diriger vers la page de creation d une societe avec ces employes .</p><br>
              <h6>   - 3eme Etape :  Choisir l impot a payer</h6> <br>
           <p>    . Declaration TVA -> Diriger vers la page de paymment de TVA<br>
               . Declaration IS  -> Diriger vers la page de paymment de IS<br>
               . Declaration IR  -> Diriger vers la page de paymment de IR</p>
      
  </div>
  <div class="col-md-1">
  </div>
  </div>
</div>