<div class="container" style="padding-bottom: 200px;margin: 50px;">
  <div class="row">
    <div class="col-md-5">
      <button style="width:350px;height:250px" type="submit" class="btn btn-primary btn-block" routerLink="/createNew">La societe n existe pas dans le systeme</button>

    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-5">
      <button style="width:350px;height:250px" type="submit" class="btn btn-secondary btn-block" routerLink="/one">La societe existe deja dans le systeme</button>

    </div>
  </div>
</div>
