<div class="container">
  <div class="row">
    <div class="col-md-3" style="background-color: rgb(44, 43, 43);padding:20px;margin-top:3px;margin-bottom:3px">
      <h3 style="color: blanchedalmond;text-align: center;">Info sur La societe</h3>
      <table class="table table-bordered">

        <tbody>
          <tr>
            <td>Nom</td>
            <td>Alsa</td>
          </tr>
          <tr>
            <td>Nombre d employes</td>
            <td>130</td>
          </tr>
          <tr>
            <td>Chiffre affaires</td>
            <td>1300.9 DH</td>
          </tr>
          <tr>
            <td>Type societe</td>
            <td>SarL</td>
          </tr>
          <tr>
            <td>Alsa</td>
            <td>130</td>
          </tr>
          <tr>
            <td>Alsa</td>
            <td>130</td>
          </tr>
        </tbody>
      </table>


    </div>
    <div class="col-md-9">
      <app-factureF></app-factureF>
    </div>

  </div>
</div>
