<div class="container" style="padding-top:10px;margin-top:20px"  >
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="row" style=" font-size: 20px;
      height: 50px;
      border-radius: 5px;
      text-align: center;
      padding-top: 13px;padding-left: 40px; " >
  
    <div class="col-md-3" style="cursor: pointer;" routerLink="Societe">Lists of society</div>
    <div class="col-md-1"></div>
        <div class="col-md-3" style="cursor: pointer;" routerLink="HowTo"  >How to Use this App ?</div>
        <div class="col-md-1"></div>
        <div class="col-md-3" style="cursor: pointer;" routerLink="choix">Start the Application</div>
        <div class="col-md-1"></div>
      </div>
      <br>
    <img  [src]="cheminImage" alt='imageAcceuil' width="900px"/>
     
    </div>
    <div class="col-md-1"></div>
  </div>
</div>