<h3>Creation d une facture </h3>
<h6>Creation de la Facture de Charge </h6>
<form>
  <div class="form-row">
    <div class="col-md-6 form-group">
      <label>Reference</label>
      <input type="text" class="form-control" placeholder="First name">
    </div><br><br><br>
    <div class="col-md-6 form-group">
      <label>Nom du Facture</label>
      <input type="text" class="form-control" placeholder="Last name">
    </div><br>
    <div class="col-md-6 form-group">
      <label>Numero de Facture</label>
      <input type="text" class="form-control" placeholder="Last name">
    </div><br>
    <div class="col-md-6 form-group">
      <label>Date de Facturation</label>
      <input type="date" class="form-control" placeholder="Last name">
    </div><br>
    <div class="col-md-6 form-group">
      <label>Date de Payment</label>
      <input type="date" class="form-control" placeholder="Last name">
    </div><br>
    <div class="col-md-6 form-group">
      <label>Montant HT</label>
      <input type="number" class="form-control" placeholder="Last name">
    </div>
    <div class="col-md-6 form-group">
      <label>Montant TTC</label>
      <input type="number" class="form-control" placeholder="Last name">
    </div>
    <div class="col-md-6 form-group">
      <label>TVA</label>
      <input type="number" class="form-control" placeholder="Last name">
    </div>
    <div class="col-md-6 form-group">
      <label>Annee</label>
        <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Annee</label>
        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
          <option selected>Annee...</option>
          <option value="1">2019</option>
          <option value="2">2020</option>
          <option value="3">2021</option>
        </select>
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">Type de facture</label>
      <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option value="1" >Facture de charge</option>
        <option value="2">Facture de gain</option>
      </select>
      <!-- <select [(ngModel)]="model">
        <label for="inputState">Type de facture</label>
        <option *ngFor="let item of list" [value]="item">{{item}}</option>
      </select> -->
      <!-- <div class="form-row">
        <div class="col-md-6 form-group">
          <h6>Fournisseur--Client</h6>
          <label>Nom Complet</label>
          <input type="number" class="form-control" placeholder="Last name">
        </div>
        <div class="col-md-6 form-group">
          <h6>Fournisseur--Client</h6>
          <label>CNE</label>
          <input type="number" class="form-control" placeholder="Last name">
        </div>
      </div> -->
    </div>

    <br>  <br>  <br>

  </div>
</form> <button type="button" class="btn btn-primary btn-block">Enregistrer</button>
<br><br>
<hr>
<br>
<h3>Liste des factures</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td >Something</td>

      <td><a href="#"><i class="fas fa-edit"></i></a>
      </td>
      <td><a href="#"><i class="fa fa-trash"></i></a>
      </td>


    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>

      <td><a href="#"><i class="fas fa-edit"></i></a>
      </td>
      <td><a href="#"><i class="fa fa-trash"></i></a>
      </td>


    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>

      <td><a href="#"><i class="fas fa-edit"></i></a>
      </td>
      <td><a href="#"><i class="fa fa-trash"></i></a>
      </td>



    </tr>
  </tbody>
</table><br>
<div class="container">
    <div class="row">
      <div class="col-md-2">
          <!-- <button type="button"  routerLink="/facture/tva"
        class="btn btn-secondary "><i class="fa fa-chevron-left" style="font-size:12px"></i> Back</button> -->
      </div>

      <div class="col-md-8"></div>
      <div class="col-md-2"><button type="button"  routerLink="/declarationTva"
        class="btn btn-secondary "> Next <i class="fa fa-chevron-right" style="font-size:12px"></i></button></div>
    </div>
</div>

  <br><br>
