<div class="container" style="padding:20px;margin: 20px;">
  <h4>Payment d impot </h4>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8" style="width: 200px;height: 300px;">
      <div style="padding:10px;margin: 10px;">
        <label>Societe</label>
        <label  class="mr-sm-2 sr-only" for="inputState">Societe</label>
        <select class="custom-select mr-sm-2">
          <option>Choose...</option>
          <option *ngFor="let s of socs" [value]="s.ref">{{s.nom}}</option>
        </select>
        <br><br><br><br><br><br><br><br>
       <button routerLink="/choixDeImpot" type="button" class="btn btn-secondary btn-block">Next <i class="fa fa-chevron-right" style="font-size:12px"></i></button> </div>
    </div>
    <div class="col-md-2">
    </div>
  </div>

</div>
