<div class="container" style="padding:20px;margin: 20px;">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8" style="width: 200px;height: 300px;">
      <div style="padding:10px;margin: 10px;">
        <select class="form-control form-control-lg">
          <option>Large select</option>
          <option>Large select</option>
          <option>Large select</option>
          <option>Large select</option>
          <option>Large select</option>
        </select>
        <br><br><br><br><br><br><br><br>
       <button routerLink="/facture" type="button"
            class="btn btn-secondary btn-block">Next <i class="fa fa-chevron-right" style="font-size:12px"></i></button> </div>
    </div>
    <div class="col-md-2">
    </div>
  </div>

</div>
