<header>
</header>
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="" style="padding-left: 90px;"><i class="fas fa-home"></i> Dar Darriba.com</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <!-- <ul class="navbar-nav">
      <li class="nav-items active">
        <a class="nav-links" style="padding-left: 55px;"></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" routerLink="DeclarationIR" >Declaration IR</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link " routerLink="FactureGain">Facture de Gain</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link " routerLink="CreateSocieteComponent" >Societe</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link " routerLink="Societe" >Liste Societe</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link " routerLink="DeclarationTVA" >Declaration TVA</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link " routerLink="TauxDeIR" >TauxDeIR</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link" href="#"></a>

      </li>
    </ul> -->

  </div>
  <button type="submit" class="btn btn-info">Se Connecter</button>
</nav>
